.container-chatBox{
    position: fixed;
    margin-top: 50px;
    margin-left: 50px;
    background-color: white;
    display: flex;
    flex: 1;
    width:24%;
    height: 70vh;
    flex-direction: column;
    padding: 10px;
    border-radius: 0.5em;
 
}
.search-message{
    border-radius: 0.4em;
    background:transparent;
}

.search-input-message{
    background-color: rgb(245,245,245);
}



/* Media queries */
@media screen and (max-width: 991px) {
    .container-chatBox{
        margin-top: 30px;
    }
}