.all-posts {
    position: relative;
    display: flex;
    flex-direction: column;
    /* background-color: ; */
}

.loading-icon {
    position: sticky;
    display: flex;
    justify-content: center;
    margin: 25%;
    bottom: 0;
    background: transparent;
}

.upload-icon-img{
    background: transparent;
    animation-name: loading_change_color;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes loading_change_color {
    0% {color: rgb(187, 171, 80);}
    50% {color: white;}
    100% {color: black;}
}
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@600&family=Atkinson+Hyperlegible&family=Fugaz+One&family=Lato&family=Lexend+Deca:wght@300&family=Montserrat:wght@500&family=Poppins:wght@200;500&family=Shadows+Into+Light&family=Shippori+Antique&family=Varela+Round&display=swap');

@media screen and (width< 1200px) {
    .all-posts {
        margin-bottom: 4em;
    }
}