@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@600&family=Atkinson+Hyperlegible&family=Fugaz+One&family=Lato&family=Lexend+Deca:wght@300&family=Montserrat:wght@500&family=Poppins:wght@200;500&family=Shadows+Into+Light&family=Shippori+Antique&family=Varela+Round&display=swap');

.my-card {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 1);
    transition: 0.3s;
    width: 62%;
    background-color: rgb(31,33,40);

    /* height: 400px; */
    border-radius: 1.5em;
    border-color: rgb(45, 164, 9);
    justify-content: space-between;
    margin: 15px auto;
    background:transparent;
}
  .container {
    padding: 15px;
  }

.my-card.container:nth-child(1) {
  margin-top: 50px;
}
  .my-card:hover {
    border: 5px;
    box-shadow: -1px 0px 13px 1px white;
  }
  
  .post-common {
    
    border-radius: 5px;
    border: 1px rgb(255, 255, 255);
  }
  .user-details {
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
    background:transparent;
    font-weight: bolder;
  }

  .dp-img {
    width: 20%;
    height: 50px;
    margin: 10px;
    border-radius: 1.5em;
  }

  .user-dp-info {
    display: flex;
    flex-direction: row;
    background:transparent;
  }

  .user-info {
    display: flex;
    flex-direction: column;
    flex: 1 0 80%;
    margin: 10px;
    background:transparent;
  }

  .user-info .user-name {
    font-weight: bold; 
    font-size: 20px;
    margin: 0
  }

  .user-info .user-location {
    color: grey;
    font-size: 15px;
    margin: 0;
  }

  .post-menu-img {
    width: 8%;
    height: 20px;
    margin: 10px;
    background:transparent;

  }
  .post-menu-img:hover {
    width: 8%;
    height: 22px;
    margin: 9.5px;
  }

  .post-body {
    display: flex;
    flex-direction: column;
    background:transparent;
  }

  .main-post {
    max-height: 365px;
    /* max-width: 380px; */
    display: flex;
    justify-content: center;
    background: transparent;
  }

  .post-img {
    height: 100%;
    width: 100%;
    max-width: 365px;
    max-height: 365px;
  }

  .post-actions {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
  }

  .post-actions .icon {
    height: 24px;
    width: 50%;
    background-color: white;
    stroke: black;
    stroke-width: 2.5em;
  }

  .post-actions .comment-img  {
    height: 24px;
    width: 50%;
    background-color: white;
    fill: black;
    stroke-width: 0.05em;
  }

  .who-liked-post {
    display: flex;
    flex-direction: row;
    justify-content: end;
    /* background-color: white; */
  }

 .username-caption {
  display: flex;
  flex-direction: row;
 }


.comment-wrapper{
    width: 100%;
    height: 50px;
    border-radius: 1px solid #dfdfdf;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-wrapper .icon{
    height: 30px;
}

.comment-box{
    width: 88%;
    font-size: 14px;
    padding: 0 0 0 8px;
    color: grey;
    border: 1px solid white;
    border-radius: 0.7em;
}

input.comment-box:focus {
  outline: none;
  border: 1px solid white;
}

.comment-btn,
.action-btn{
    width: 70px;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    text-transform: capitalize;
    font-size: 16px;
    color: rgb(255, 255, 255);
    opacity: 1;
}


/* Media queries */

@media screen and (max-width: 991px) {
  .post-actions .icon, .post-actions .comment-img {
    height: 25px;
  }

}

@media screen and (max-width: 576px) {

  .post-actions .icon, .post-actions .comment-img {
    height: 20px;
  }

  .my-card {
    width: 90%;
  }
  .dp-img {
    width: 17%;
    height: 45px;
    margin: 8px;
  }
  .post-menu-img {
    width: 7%;
    height: 15px;
  }

  .user-info {
    margin: 6px;
    justify-content: space-around;
  }

  .user-name {
    font-size: 11px;
  }

  .user-location {
    font-size: 9px;
  }

  .chat-box {
    display: none;
  }

  .notification-panel {
    display: none;
  }
}