@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@600&family=Atkinson+Hyperlegible&family=Fugaz+One&family=Lato&family=Lexend+Deca:wght@300&family=Montserrat:wght@500&family=Poppins:wght@200;500&family=Shadows+Into+Light&family=Shippori+Antique&family=Varela+Round&display=swap');
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
 
.header-home .navbar{
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: #7615CF;
    height: 82px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.login-box-outer{
    /* margin-top: 50px; */
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    background: transparent;
    justify-content: center;
    
}


.login-box{
    
    font-family: 'Assistant', sans-serif;
    font-weight: 700;
    color: white;
    border: 2px solid white;
    border-radius: 0.5em;
    padding: 10px;
    width: 100%;
    box-shadow:  0 4px 8px 0 white;
    background: transparent;
   
}

.login-box .btn.btn-primary {
    background-color: #7615CF;
    border-color: #7615CF;
}
.login-box .btn.btn-primary:hover {
    background-color: #E3CBF9;
    color: black;
}

.footer{
    width: 100%;
    height: 5vh;
    color: white;
    background-color: black;
    position: fixed;
    bottom: 0;
    font-family: 'Assistant', sans-serif;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    
  
}

.navbar-nav a:hover{
    /* border-bottom: 2px solid white; */
    background-color: white;
    color: black;
    border-radius: 0.5em;
    text-decoration: none;
    
}

.hompageButtons{
    background: transparent;
    display: flex;
}

.developerTile{
    color: white;
}

.developerTile h5 {
    font-weight: bolder;
}

.btn {
    font-weight: bolder;
}

.card{
   box-shadow:  1px 4px 10px 2px rgb(175, 85, 12);
}

.developersTile{
 margin-top: 60px;
 color: white;
}

.background-homepage{
 position: relative;
 margin-top: 100px;
}

.background-homepage .navbar .btn.btn-primary{
    background-color: #7615CF;
    border-color: #E3CBF9;
}
.background-homepage .navbar .btn.btn-primary:hover{
    background-color: #E3CBF9;
    color: black;

}

.header-home .navbar-brand{
  display: block;
  margin-right: auto;
  padding: 0px;
  font-size: 30px;
}


.inputLogin{
    box-shadow: none;
    background: white;
}

.header-home .login-signup-btn-container{
    order: 3;
}

.header-home .collapse.navbar-collapse{
    padding: 0px 20px;
    justify-content: space-around;
}

.header-home .navbar-nav{
    flex-basis: 45%;
}

@media screen and (max-width: 991px) {
    .header-home .login-signup-btn-container{
        order: inherit;
    }

    .header-home .navbar-brand{
        display: block;
        margin-right: auto;
        padding: 0px;
        font-size: 25px;
      }
      
}