@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@600&family=Atkinson+Hyperlegible&family=Fugaz+One&family=Lato&family=Lexend+Deca:wght@300&family=Montserrat:wght@500&family=Poppins:wght@200;500&family=Shadows+Into+Light&family=Shippori+Antique&family=Varela+Round&display=swap');
*{
    font-family: 'Segoe UI', Tahoma, Geneva, 
    Verdana, sans-serif;
}
 
.header-home .navbar{
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    /* background-color: #7615CF; */
    background: white;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.login-box-outer{
    margin-top: 10px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    background: transparent;
    justify-content: center;
    
}


.login-box{
    
    font-family: monospace;
    font-weight: 700;
    border: 2px solid rgba(0,0,0,0.2);
    border-radius: 0.5em;
    padding: 10px;
    width: 100%;
    box-shadow:  0 2px 2px 0 black;
    background: transparent;
   
   
}

.login-container{
    width:"100%";
    height: 100vh;
    background-color: white;
}

.login-box .btn.btn-primary {
    background-color: #ad42ff;
    border-color: #ad42ff;
}
.login-box .btn.btn-primary:hover {
    background-color: #E3CBF9;
    color: black;
}

.footer{
    width: 100%;
    height: 5vh;
    color: white;
    background-color: black;
    position: fixed;
    bottom: 0;
    font-family: 'Assistant', sans-serif;
    font-weight: bolder;
    display: flex;
    align-items: center;
    justify-content: center;
    
  
}

.navbar-nav a:hover{
    /* border-bottom: 2px solid white; */
    color: white;
   
    text-decoration: none;
    border: 1px solid rgba(0,0,0,0.8);
    
}

.hompageButtons{
    background: transparent;
    display: flex;
}

.developerTile{
    color: white;
}

.developerTile h5 {
    font-weight: bolder;
}

.btn {
    font-weight: bolder;
}

.card{
   box-shadow:  1px 4px 10px 2px rgb(175, 85, 12);
}

.developersTile{
 margin-top: 60px;
 color: white;
}

.background-homepage{
 position: relative;
}

.background-homepage .navbar .btn.btn-primary{
    border-color: #E3CBF9;
}
.background-homepage .navbar .btn.btn-primary:hover{
    background-color: #E3CBF9;
    color: black;

}

.header-home .navbar-brand{
  display: block;
  margin-right: auto;
  padding: 0px;
  font-size: 30px;
}


.inputLogin{
    box-shadow: none;
    background: white;
}

.navbar{
border-bottom: 1px SOLID RGBA(0,0,0,0.08);
}


label{
background-color: white;
color: black;
font-family:Verdana;
}
form{
    background-color: white;
    font-family: monospace;
}

.signup-container{
height: 100vh;
}

