
.container-fluid{
    padding: 0;;
}

.navbar-home{
    font-family: 'Assistant', sans-serif;
    background-color: black;
    display: flex;
    justify-content: space-between;
   
}
 

.nav-link{
    color:white;
    background-color: #7615CF;;
    
}

.nav-link:hover{
    background-color: black;
    border-radius: 0.5em;
    color: black;
    transition-delay: 5ms;
}

.navbar-brand{
    color: black;
    font-weight: bolder;
    font-size: 30px;
    margin-left: 15px;
}

.navbar-brand:hover{
    color: #e552ff;
    font-weight: 600;
}

.navbar-nav{
    background: transparent;
    /* background-color: black; */
    display: flex;
    justify-content: space-between;
}

.logo-image-container{
  display: flex;
  flex-direction: row;
  align-items: center;

}

.logo-image{
   align-items: center;
   display: inline-block;
     /* vertical-align: top; */
    margin-right: 20px;
    /* margin-top: 15px;   */
    transform: scale(2);
    margin-left: 20px;
    background: transparent;
}

.nav-left{
    background: transparent;
    flex: 0 0 20%;
    display: flex;
    justify-content: space-around;
}

.search {
    flex: 0 0 36%;
    background-color: transparent;
}

.nav-right{
    /* display: flex;
    justify-content: space-between; */
    /* width: 75%;
    margin-right: 20px; */
    flex: 0 0 40%;
    background: black;
}

.searchBar{
    display: flex;
    /* width: 93%; */
    height: 85%;
    background: white;
    border: 1px solid black;
    padding: 4px 12px;
    border-radius: 2em;
    justify-content: space-between;
}

.searchBar-input{
    flex-grow: 2;
    background-color: white;
    border: none;
    border-radius: 0.5em;
    border-color: 5px solid rgb(27,115,47);
}

.searchBar-input:focus {
    outline: none;
}

.search-icon {
    width: 15px;
    height: 15px;
    background-color: white;
    cursor: pointer;
}

.bell-icon,.notification-counter {
    display: none;
    cursor: pointer;
   
}

.chat-icon {
    display: none;
    margin-left: 4px;
    cursor: pointer;

}

.navLinks{
    display: flex;
    justify-content: space-between;
    background-color: black;
}

.navbar-toggler:focus {
    outline: none;
    padding: 0.25rem 0.75rem;
}

.nav-item.logout {
    background-color: #7615CF;
}

.nav-item.logout .btn.btn-primary{
    background-color: #7615CF;
    border-color: #7615CF;
}

.nav-item.logout .btn.btn-primary:hover {
    background-color: #F4073A;
    color: white;
    border-radius: 0.5em;
}

.navbar-nav .nav-item{
    background-color: #7615CF;
}
.navbar-nav .nav-item:nth-child(1) .nav-link{
    /* color: #C0F807;
    cursor:default; */
    /* background-color: gainsboro;
    color: blue; */
    background-color: #CC98FC;
    color: white;
    cursor: default;
    font-size: 15px;
    font-family: cursive;
    border-radius: 0.5em;
}
/* .navbar-nav .nav-item:nth-child(1) .nav-link:hover{
    
} */

@media screen and (max-width: 1200px) {
    .nav-left{
        flex-direction: row;
        display: flex;
        /* flex:0 0 10%; */
        align-items: center;
        height: 100%;
    }
    .logo-image{ 
        width: 20px;
        height: 20px;
 
    }

    .navbar-brand {
        margin-left: 4px;
        font-size: 26px;
    }

    .search {
        flex: 0 0 30%;
    }

    .searchBar-input {
        width: 70%;
    }

    .nav-right{
        flex: 0 0 50%;
    }

    .nav-link {
        font-size: 14px;
    }
    .nav-item.logout .btn.btn-primary{
        font-size: 15px;
    }
}
/* work the same as max-width: 992px */
@media screen and (width <= 992px) {
    .nav-left{
        /* flex-direction: column; */
        flex:0 0 5%;
        align-items: center;
        
    }

    .logo-image{ 
        width: 35px;
        height: 35px;
    }
    .hamburger-icon {
        width: 30px;
        height: 30px;
        background: transparent;
      
    }
    .navLinks {
        background: black;
    }

    .nav-item{
        background: transparent;
    }
    .nav-item:hover{
       border-radius: 0.5em;
       padding: 2px 0px 2px 0px;
    }

    .navbar-brand {
        margin-left: 4px;
        font-size: 20px;
    }

    .search {
        flex: 0 0 40%;
    }

    .searchBar-input {
        width: 70%;
    }

    .bell-icon {
        display: block;
        width: 30px;
        height: 30px;
        background: transparent;

    }
    .notification-counter {
        display: inline;
    }

    .chat-icon {
        display: block;
        width: 30px;
        height: 30px;
        background: transparent;
    }

    .nav-right {
        flex: 0 0 100%;
    }

    .collapse .navbar-nav{
        flex: 0 0 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        height: 32px;
        /* justify-content: end; */
    }
    .collapsing .navbar-nav{
        flex: 0 0 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        /* justify-content: end; */
    }

    .nav-item {
        margin-left: 5px;
        height: min-content;
    }
    .nav-link {
        font-size: 16px;
        background-color: #3C68E0;
    }
    .nav-item .btn {
        font-size: 16px;
    }

    .bell-icon-container-div {
        position: relative;
        background: transparent;
        cursor: pointer;
    }

    .notification-counter {
        background: red;
        border-radius: 19em;
        padding: 4px;
        position: absolute;
        top: -16px;
        color: white;
        font-size: 16px;
        right: -12px;
        border: 2px solid white;
        height: 35px;
    }

    .notification-list-div {
        position: fixed;
        right: 18px;
        top: 67px;
        width: 46%;
        z-index: 1;
        background-color: lightslategrey;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 1em;
        max-height: 254px;
        overflow: scroll;
        overflow-x: hidden;
    }

    .notification-list-div::-webkit-scrollbar {
        width: 5px;
    }
    .notification-list-div::-webkit-scrollbar-track {
        background: white;
        border-radius: 1em;
    }

    .notification-list-div::-webkit-scrollbar-thumb {
        background: black;
        border-radius: 10px;
    }

    .navbar-nav{
        background-color: #7615CF;
    }
    .navbar-nav .nav-link {
        background-color: #7615CF;
        padding: 0.1rem;
    }
    .nav-item.logout .btn.btn-primary {
        padding: 0.1rem;
    }
  
}

@media screen and (width: 992px){
    .navbar-expand-lg .navbar-collapse {
        display: none !important;
    }
    .navbar-expand-lg .navbar-toggler {
        display: flex;
    }
    .navbar-expand-lg .navbar-collapse.show {
        display: -webkit-box!important;
        display: -ms-flexbox!important;
        display: block!important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }
    .collapse.show{
        display: block !important;
        width: 100%;
    }
    .navbar {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 0.5rem 1rem;
    }
    .nav-right {
        flex: 0 0 100%;
    }
    .navbar-nav{
        background-color: #7615CF;
    }
    .navbar-nav .nav-link {
        background-color: #7615CF;
    }
    .nav-item.logout .btn.btn-primary:hover {
        padding: 0;
    }
}

@media screen and (max-width: 576px) {

    .navbar {
        padding: 0;
    }

    .logo-image {
        width: 30px;
        height: 30px;
    }
    
    .navbar-brand {
        display: none;
    }

    .search {
        flex: 0 0 51%;
        font-size: 12px;
    }

    .searchBar-input {
        width: 50%;
        font-size: 12px;
    }

    .searchBar .btn {
        font-size: 12px;
    }

    .nav-link {
        font-size: 12px;
        background-color:#3C68E0;;
    }
    .nav-item .btn {
        font-size: 12px;
       
    }

    .bell-icon {
        width: 25px;
        height: 25px;
    }

    .notification-counter {
        background: red;
        border-radius: 19em;
        padding: 2px;
        position: absolute;
        top: -10px;
        color: white;
        font-size: 12px;
        right: -1px;
        border: 1px solid white;
        height: 2em;
    }

    .chat-icon {
        width: 25px;
        height: 25px;
    }

    .search-icon {
        width: 15px;
        height: 15px;
    }

    .hamburger-icon {
        width: 25px;
        height: 25px;
    }

    .notification-list-div {
        width: 65%;
    }

}


/* @media screen and (max-width: 320px) {

    
} */