@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@600&family=Atkinson+Hyperlegible&family=Fugaz+One&family=Lato&family=Lexend+Deca:wght@300&family=Montserrat:wght@500&family=Poppins:wght@200;500&family=Shadows+Into+Light&family=Shippori+Antique&family=Varela+Round&display=swap');

.community-notification-container{
    background-color: white;
    height: 500px;
    width: 90%;
    display:flex;
    flex-direction: column;
    float:right;
    border: 2px solid white;
    border-radius: 0.5em;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    position: fixed;
    width: 24%;
}

.notif-category{
    background-color: #E3CBF9;
    height: 200px;
    width: 90%;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5em;
    justify-content: center;
    font-weight: bolder;
}

.community-notification-container .title {
    color: black;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
    font-weight: bolder;
    background-color: transparent;
}

/* .CommunityNotification{
}

.TechNews{
} */

.Quotes{
    margin-bottom: 10px;
}

/* .flex-item{
    
    
} */